.blog-body{
background-image: url("/img/background/background.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.row1{
    display: flex;
    justify-content: space-around;

}
.row-col{
    height: 400px;
    width: 500px;
    border: 5px solid greenyellow;
    border-style: groove;
}
img{
    height: 400px;
    width: 500px;
}

.about-location{
    background-color:#fff;
    text-align: center;
    position: relative;
    top: 50%;
    left: 5%;
    margin-top: 10px;
    width: fit-content;
    opacity: 0.8;

}